<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
</head>
<body>

<form action="#" th:action="@{/test}" th:object="${xmlDocumentDTO}" method="post">
    <p>XML:</p>
    <textarea id="xml" style="resize:none" rows=30 cols = 150 type="text" th:utext="*{xmlBody}"></textarea><br>
    Id: <input id = "myId" type="text" th:value="${id}"/>
    <input type="button" value="Send Post" onclick="sendPost()">
</form>


<script>
    function sendPost() {
        $.ajax({
            type: "POST",
            url: '/updateXml/' + document.getElementById("myId").value,
            contentType: "text/xml",
            data: document.getElementById("xml").value,
        });
    }
</script>
</body>
</html>